* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background: rgb(92, 91, 95);
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000;
}

.avatar {
  width: 130px;
  border-radius: 50px;
  border: 2px solid  white;
  box-shadow: 0 0 10px white;
}

h2 {
  margin-top: 5px;
  padding: 3px;
  font-size: 16px;
  border: 0.5px solid rgb(77, 75, 75);
  box-shadow: 0 0 10px white;
}

.profile {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  margin: 10px 5px;
  box-shadow: 0 0 10px black;
}

.typing {
  position: relative;
  margin: 15px auto;
}

.typing::after {
  content: "";
  border-right: 2px solid black;
  animation: blink 1s infinite ease;
}

.social {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  align-items: center;
}

.social img {
  width: 33px;
}

.button-projects {
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(226, 199, 43);
  border-radius: 50px;
  color: rgb(226, 199, 43);
  cursor: pointer;
}

.hidden {
  display: none;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 15px 6px;
  list-style: none;
}

.links-list li {
  flex-direction: column;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  flex-wrap: wrap;
  max-width: 320px;
  padding: 10px;
  border-radius: 50px;
  align-items: center;
  background: white;
  border: 1px solid rgb(226, 199, 43);
  font-weight: bold;
}

.links-list li a {
  text-decoration: none;
  color: rgb(54,77,204);
}

.contacts {
  padding: 15px;
  list-style: none;
}

.contacts li {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  align-items: center;
}

.contacts li a {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 3px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(226, 199, 43);
  font-weight: bold;
  border: 1px solid rgb(226, 199, 43);
}
.contacts li a span {
    color: grey;
    display: block;
    margin-top: 10px;
  }

.footer {
  margin-top: 60px;
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
}

.footer a {
  text-align: center;
  width: 100%;
  margin: 8px 8px;
  background: white;
  padding: 2px 8px;
  border-radius: 70px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 10px white;
}

.links-list li a span {
  color: grey;
  display: block;
  margin-top: 10px;
}

.links-list.second {
  margin-top: 30px;
}

.links-list img {
  width: 200px;
  border-radius: 10px;
}

