* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background: rgb(40, 23, 138);
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000;
}

.avatar {
  width: 130px;
  border-radius: 50px;
  border: 2px solid  white;
  box-shadow: 0 0 10px white;
}

h2 {
  margin-top: 5px;
  padding: 3px;
  font-size: 16px;
  border: 0.5px solid rgb(77, 75, 75);;
  box-shadow: 0 0 10px white;
}

.profile {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.social {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  align-items: center;
}

.social img {
  width: 33px;
}

.links-list {
  padding: 15px;
  list-style: none;
}

.links-list li {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  align-items: center;
}

.links-list li a {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  max-width: 320px;
  padding: 15px;
  width: 100%;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(54,77,204);
  font-weight: bold;
  border: 3px solid white;
  box-shadow: 0 0 15px white;
}

#links {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.contacts {
  padding: 15px;
  list-style: none;
}

.contacts li {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  align-items: center;
}

.contacts li a {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 3px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(54,77,204);
  font-weight: bold;
  border: 1px solid blue;
  box-shadow: 0 0 15px white;
}
.contacts li a span {
    color: grey;
    display: block;
    margin-top: 10px;
  }

.footer {
  display: flex;
  list-style: none;
  margin: 10px 20px;
}

.footer a {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background: white;
  padding: 5px 20px;
  border-radius: 70px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

.links-list li a span {
  color: grey;
  display: block;
  margin-top: 10px;
}

.links-list.second {
  margin-top: 30px;
}

.links-list img {
  width: 200px;
  border-radius: 10px;
}

