* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(97, 118, 238);
    background: linear-gradient(180deg, rgb(50, 192, 97) 0%, rgb(217, 231, 17) 100%);
}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;

}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
    
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    text-align: center;
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

.footer {
    display: flex;
    list-style: none;
    margin: 10px 20px;
}

.footer a {
    text-align: center;
    width: 100%;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 3px solid rgb(227, 252, 3);
    box-shadow: 0 0 20px white;
}


.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}

.links-list.second {
    margin-top: 30px;
}

.links-list img {
    width: 250px;
        
}

