*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Righteous', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(92, 91, 95);
}

.card {
  position: relative;
  width: 20%;
  height: 100px;
  margin:8px;
  transform-style: preserve-3d;
  transition: transform .5s;

}

.title {
  align-items: center;
  max-width: 500px;
  color: white;
  border: 1px solid white;
  padding: 5px;
  margin: 20px 15px;
}

.card_back, .card_front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.card_front {
  transform: rotateY(180deg);
  background-color: #cac3c3;
}

.icon {
  width: 68% ;
}

.card_back {
  color: #9b9595;
  background-color: rgb(226, 199, 43);
  font-size: 30px;
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 45px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
}

#gameOver button{
  padding: 15px;
  margin: 10px auto;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: yellow;
  cursor: pointer;
}

#gameBoard {
  max-width: 900px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  text-align: center;
}

.return a {
  color: black;
  text-decoration: none;
}

.footer {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
}

.footer a {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
  margin: 8px 8px;
  background: white;
  padding: 2px 8px;
  border-radius: 70px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 20px white;
}